/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../../../styles/colors" as colors;
@use "../../../../styles/variables" as variables;

.projects {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	z-index: 50;

	.colorOverlay {
		@include variables.color-overlay();
		filter: opacity(0.7);
		position: fixed;
	}

	.hello {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 70%;

		.subhead {
			margin: 30px 0;
			font-size: variables.$font-size-h3;
			text-align: center;
			font-style: italic;
		}
	}

	.backgroundImage {
		@include variables.background-image();
		transform: none;
		position: fixed;

		background-image: url("../../../../../public/images/mine/bp-bridge.jpg");
	}

	h1, h2 {
		@include variables.background-box();

		margin-top: 40px;
	}

	.current, .previous {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.project {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 70%;

		.head {
			@include variables.background-box();
			background-color: colors.$primary;

			display: flex;
			align-items: center;
			padding: 10px 16px 6px 16px;
			margin: 32px 0 20px 0;

			h3 {
				margin: 0;
			}
		}

		.description {
			max-width: 80%;

			.text {
				text-align: center;
			}

			.list {
				margin-top: 10px;

				li {
					margin: 6px 0;

					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
