/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

/* Theme colors */
$primary-light: #73e8ff;
$primary: #29b6f6;
$primary-dark: #0086c3;

$secondary-light: #fffd61;
$secondary: #ffca28;
$secondary-dark: #c79a00;

$text-dark: #000000cc;
$text-light: #ffffff;
$text-grey: #afafaf;

$grey-base: #425a70;
