/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@mixin phone() {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin tablet() {
	@media only screen and (min-width: 768px) and (max-width: 994px) {
		@content;
	}
}

@mixin desktop() {
	@media only screen and (min-width: 994px) {
		@content;
	}
}
