/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../../../styles/colors" as colors;
@use "../../../../styles/variables" as variables;
@use "../../../../styles/media-queries" as media-queries;

.experience {
	display: flex;
	flex-direction: column;

	@mixin section {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		height: 95vh;
		position: relative;
		width: 100%;
		// background-position: center;
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-attachment: fixed;
	}

	@mixin backgroundImage {
		height: 100%;
		width: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		transform: translateZ(1px) scale(1.1);
	}

	@mixin colorOverlay {
		position: absolute;
		background-color: colors.$primary-dark;
		filter: opacity(0.3);
		width: 100%;
		height: 100%;
	}

	.backgroundBox {
		@include variables.background-box();
	}

	.education {
		@include section;

		.backgroundImage {
			@include backgroundImage;

			background-image: url("../../../../../public/images/mine/wu-loop.jpg");
		}

		.colorOverlay {
			@include colorOverlay;
		}

		.content {
			margin: 5% 0 0 10%;
			z-index: 10;

			h2 {
				margin-bottom: 0;
			}

			li {
				margin: 6px 0 6px 0;
			}

			div.backgroundBox {
				padding: 10px 16px 10px 16px;
				margin-left: 10px;
			}
		}
	}

	.work {
		@include section;
		height: 90vh;

		.backgroundImage {
			@include backgroundImage;

			/* Patrick Fore / Faithlife Corporation, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons */
			background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Bellingham_Flatiron_Building.png");
			background-position-y: 50px;
		}

		.colorOverlay {
			@include colorOverlay;
		}

		.content {
			margin: 5% 0 0 10%;
			z-index: 10;

			.backgroundBox {
				@include variables.background-box();
			}

			div.backgroundBox {
				padding: 10px 16px 10px 16px;
				margin-left: 10px;

				h2 {
					margin-bottom: 0;
					text-align: left;
				}

				.subhead {
					font-family: variables.$theme-font-body;
					font-style: italic;
					text-align: left;
					margin: 0 0 0 10px;
				}

				.productSection {
					margin-left: 10px;

					.productHead {
						margin: 10px 0 0 0;
					}

					.productListContainer {
						display: flex;
					}

					.productLink {
						text-decoration: underline;
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}
