/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../../../styles/colors" as colors;
@use "../../../../styles/variables" as variables;
@use "../../../../styles/media-queries" as media-queries;

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 95vh;
	position: relative;
	width: 100%;
	background-image: url("../../../../../public/images/mine/bp-bridge.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.colorOverlay {
		position: absolute;
		background-color: colors.$primary-dark;
		filter: opacity(0.2);
		width: 100%;
		height: 100%;
	}

	.backgroundBox {
		@include variables.background-box();
	}

	h1.backgroundBox {
		@extend .backgroundBox;
		padding: 10px 16px 0 16px;
	}

	h2.backgroundBox {
		@extend .backgroundBox;
		padding: 6px 16px 4px 16px;
	}

	h1 {
		font-size: 66px;
		font-weight: bolder;
		letter-spacing: 4px;
		text-transform: uppercase;
	}

	h2 {
		max-width: 45%;
	}
}

.aboutMe {
	position: relative;
	/*
		Background photo credit: Nick Kelly / Faithlife Corporation / CC BY-SA (https://creativecommons.org/licenses/by-sa/4.0)
	*/
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Downtown_Bellingham%2C_Washington.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 99;

	.colorOverlay {
		position: absolute;
		background-color: colors.$grey-base;
		filter: opacity(0.4);
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.row1 {
		display: flex;
		position: relative;
		justify-content: space-evenly;
		align-items: center;
		padding: 40px 10px;

		.imageContainer {
			max-width: 25%;
			overflow: hidden;
			z-index: 2;

			img {
				width: 100%;
				border-radius: 300px;
			}
		}

		.textContainer {
			max-width: 50%;
			z-index: 2;
			display: flex;
			flex-direction: column;

			h2 {
				@include variables.background-box;
				width: fit-content;
				align-self: center;
				padding: 10px 16px 4px 16px;
			}

			.factsList {
				font-size: variables.$font-size-h3;
				font-family: variables.$theme-font-body;
				font-style: italic;
			}
		}
	}

	.paragraphContainer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			z-index: 2;
			text-align: center;
			max-width: 70%;
			color: colors.$text-light;
		}
	}
}

.moreInfo {
	position: relative;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.backgroundImage {
		position: absolute;
		/*
			Background Photo Credit: Mark Wagner (User:Carnildo), CC BY 2.5 <https://creativecommons.org/licenses/by/2.5>, via Wikimedia Commons
		*/
		transform: scale(1.1);
		height: 100%;
		width: 100%;
	}

	div {
		z-index: 10;
	}

	.row1,
	.row2,
	.row3 {
		@include variables.row;
		filter: none;
	}

	.row1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;

		h2 {
			@include variables.background-box;
			width: fit-content;
			align-self: center;
			padding: 10px 16px 4px 16px;
			z-index: inherit;
		}
	}

	.row2 {
		max-height: 60px;

		h3 {
			@include variables.background-box;
			padding: 10px 16px 6px 16px;
		}
	}
}
