/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/colors" as colors;
@use "../../styles/variables" as variables;
@use "../../styles/media-queries" as mediaQueries;

.footer {
	background-color: colors.$primary-dark;
	min-height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
	position: sticky;

	@include mediaQueries.phone() {
		flex-direction: column-reverse;
		min-height: 120px;
		padding: 12px 0;
	}

	.row1,
	.row2 {
		@include variables.row();
	}

	.row2 {
		margin-top: 10px;
	}

	.icons {
		display: flex;
	}

	.icon {
		margin: 0 8px;
	}

	.copyright {
		font-style: italic;
	}

	.links {
		min-width: 16%;
		max-width: 33%;
		flex-grow: 0.1;
		display: flex;
		justify-content: space-between;

		@include mediaQueries.phone() {
			max-width: unset;
			min-width: 50%;
		}
	}
}
