name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
            node-version: '12.x'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Prettier Check
        run: yarn prettier-check

      - name: ESlint
        run: yarn eslint

      - name: Stylelint
        run: yarn stylelint-check
